# Base config
DISCORD_TOKEN=your_discord_bot_token
CHANNEL_ID=your_channel_id
GUILD_ID=your_server_id
ANTHROPIC_API_KEY=your_anthropic_api_key

# Uncomment the below lines to use ollama
#ANTHROPIC_API_KEY=
#ANTHROPIC_AUTH_TOKEN=ollama
#ANTHROPIC_BASE_URL=http://localhost:11434